* {
	padding: 0px;
	margin: 0px;
}

body {
	background: #ffffff;
	width: 100%;
	height: 100%;
}

button {
	cursor: pointer;
}

#back {
	width: 1000px;
	min-height: 800px;
	margin: 0px;
}

#brownBox {
	width: 2020px;
	height:100px;
	background-color: #391200;
}

#content {
	margin-left:20px;
	min-height:400px;
	width: 1080px;
	margin-top: 10px;
}

.rightLinks {
	margin-top:15px;
	width:1100px;
	height:20px;
	display: inline;
	
}

.rightLinkArea {
	float:right;
	font-size:13px;
}

.rightLinkArea a {
	text-decoration: none;
	color: blue;
}

.stdTab {
	height: 25px;
	margin:0px;
	padding:0px;
}

#tabContainer {
	font-size:0px;
	width: 2020px;
	margin-left:0px;
	margin-top:30px;
	height: 25px;
	border-bottom:2px solid #391200;
}

#titleLogo {
	position:absolute;
	height: 82px;
	left:36px;
	top:6px;
}
#titleLogo img {
	max-height: 100%;
}

#titleText {
	color: white;
	position: absolute;
	font-family: 'Times New Roman', Times, serif;
	font-size: 60px;
	left: 90px;
	top: 6px;
}