.autoMatchInclude {
	padding: 5px;
	z-index: 50;
	margin-bottom: -2px;
	font-family: Verdana;
	font-size: 12px;
	color: #391200;
	background-color: #EFECE5; /* tan */
	border: 2px solid #391200; /* brown */
}

.autoMatchExclude {
	padding: 5px;
	z-index: 50;
	margin-bottom: -2px;
	font-family: Verdana;
	font-size: 12px;
	color: #391200;
	background-color: #EFECE5; /* tan */
	border: 2px solid rgba(255,0,0,0.6); /* red */
}

.autoMatch:focus {
	background-color: rgba(255,255,255,1);
	outline: none;
}

.autoMatch:hover {
	background-color: rgba(255,255,255,1);
}

.cancel{
    display:relative;
    cursor:pointer;
    margin:0;
    float:right;
    height:10px;
    width:14px;
    padding:0 0 5px 0;
    background-color:red;
    text-align:center;
    font-weight:bold;
    font-size:11px;
    color:white;
    border-radius:3px;
    z-index:100000000000000000;
}
.cancel:hover{
    background:rgb(255,50,50);
}

#cart {
	margin: 0px;
}

#cart th, td, tr{
	border: 1px solid #fff;
}

#cart td:nth-child(even) {
	background-color: #CDCAB9;
}

#cart td:nth-child(odd) {
	background-color: #EFECE5;
}

#cart th:nth-child(even) {
	background-color: #b8b6a6;
}

#cart th:nth-child(odd) {
	background-color: #d7d4ce;
}

.cartButton{
	-moz-box-shadow:inset 0px 1px 0px 0px #bad7f5;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bad7f5;
	box-shadow:inset 0px 1px 0px 0px #bad7f5;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #889dde), color-stop(1, #4d56a8) );
	background:-moz-linear-gradient( center top, #889dde 5%, #4d56a8 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#889dde', endColorstr='#4d56a8');
	background-color:#889dde;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #6262ed;
	display:inline-block;
	color:black;
	font-family:Verdana;
	font-size:12px;
	font-style:normal;
	height:28px;
	line-height:28px;
	width:121px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #528ecc;
	position: absolute;
	/*right: 17%;*/
	top: 93%;
	float: left;

/* This button was generated using CSSButtonGenerator.com */
/* This button was generated using CSSButtonGenerator.com */
}

.cartCourse {
	position: absolute;
	cursor: pointer;
	
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.cartCourseInner {
	position: absolute;
	color: black;
	font-size: 12px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	left: 5%;
	width: 90%;
	top: 5%;
	height: 90%;
}

.cartCourse img {
	height: 15px;
	width: 15px;
	float: left;

	visibility: hidden;
}

.classInfo {
	max-height: 500px;
	overflow-y: scroll;
	overflow-x: hidden;
}

/* Code column of search results */
#Code{
	width: 10%;
}

.confirmationPopupMessage {
	position:fixed;
    top:0px;
    left:25%;
    margin:100px auto;
    width:30%;
    height:55px;
    font-family:verdana;
    font-size:14px;
    font-weight: bold;
    text-align:center;
    padding:10px;
    background-color: #E1DFD5;
    border:4px solid #B8B6A6;
    z-index:100000000000000000;
    
}

.conflictCourseSpan {
	cursor: pointer;S
	padding: 3px;
}

.conflictDetails {
	position: absolute;
	padding: 5%;
	background-color: #bc8f8f;
	border: 2px solid #a34f53;
	color: black;
	top: -2px;
	left: -2px;
	font-family:verdana;
	font-size:12px;
	min-height: 100px;
	vertical-align: text-top;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	cursor: default;
	width: 90%;
}
.conflictDetails ul {
	list-style: none;
	
}

.conflictingCourse {
	font-family: verdana;
	text-align:center;
	background-color: #bc8f8f;
	border: 2px solid #a34f53;
}


.conflictingCourse img {
	visibility: hidden;
}

.courseDescriptionPopup {
	overflow-y: scroll;
	overflow-x: hidden;
	padding-bottom: 10px;
}

.courseNumber{
	font-family:verdana;
	border-right: 2px solid black;
	width: 260px;
	display: inline-block;	
}

.courseTitle{
	font-family:verdana;
	border-right: 2px solid black;
	width: 410px;
	display: inline-block;
}

.createdTable {
	position: absolute;
	width: 100%;
	border-collapse: collapse;
	margin:0px;
}
.createdTable td, th {
	height:55px;
	font-family: verdana;
	font-size: 14px;
	text-align:center;
}

#excludeAutoMatches {
	left: 51%;
}

/* container for exclude input area */
#excludeContainer {
	position: absolute;
	opacity: 0;
	display: none;
	width: 30%;
	height: 30px;
	left: 51%;
	border: 2px solid rgba(255,0,0,0.6);
	display: block;
	z-index:-1;
}

#expandSearch{ /* This button was generated using CSSButtonGenerator.com */
	background-color: #F6655C;
	-webkit-border-top-left-radius:12px;
	-moz-border-radius-topleft:12px;
	border-top-left-radius:12px;
	-webkit-border-top-right-radius:12px;
	-moz-border-radius-topright:12px;
	border-top-right-radius:12px;
	-webkit-border-bottom-right-radius:12px;
	-moz-border-radius-bottomright:12px;
	border-bottom-right-radius:12px;
	-webkit-border-bottom-left-radius:12px;
	-moz-border-radius-bottomleft:12px;
	border-bottom-left-radius:12px;
	text-indent:0;
	border: none;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:35px;
	line-height:25px;
	width:100px;
	text-decoration:none;
	text-align:center;
	margin: 0px;
}

#expandSearch:hover {
	background-color: #CC0000;
}

#expandSearch:active {
	position:relative;
	top:1px;
}

/* container for expand search button */
#expandSearchContainer {
	position: relative;
	margin-top:5px;
	height:40px;
	left: 71%;
	width: 0px;
}

#false{
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #96eb6c), color-stop(1, #80cc54) );
	background:-moz-linear-gradient( center top, #96eb6c 5%, #80cc54 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#96eb6c', endColorstr='#80cc54');
	background-color:#96eb6c;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:black;
	font-family:Verdana;
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	height:28px;
	line-height:28px;
	width:67px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #86ae47;
	position: absolute;
	right: 1%;
	top: 90.75%;

/* This button was generated using CSSButtonGenerator.com */
}

#includeAutoMatches {
	left: 35%;
}

/* div contianing include search terms and textarea */
#includeContainer {
	position: absolute;
	width: 30%;
	height: 30px;
	left: 35%;
	border: 2px solid #391200;
}

.matchedResult {
	margin-left: 6px;
	margin-top: 3px;
	height: 20px;
	font-size: 15px;
	font-family: Verdana;
	position: absolute;
	min-width: 10px;
	border:1px solid #391200;
	background-color: #EFECE5;
	color: #391200;
	border-radius: 5px;
	padding: 2px 2px 0px 2px;
	-webkit-border-radius: 5px; /* for older browsers */
	-moz-border-radius: 5px; /* for older browsers */
}

.matchedResult:focus {
	border: 1px solid #391200;
	background-color: rgba(255,255,255,0.8);
	outline: none;
}


.matchList {
	position: absolute;
	top: 30px;
	width: 30%;
	min-height: 30px;
	display: none;
	margin:2px;
	max-height: 280px;
	overflow-y: scroll;
}

/* Messages column of search results */
#Messages{
	width: 10%;
}

#noSearchResults {
	text-align:center;
	width:80%;
	margin-left:10%;
	margin-top:10px;
}

.popup{
    position:fixed;
    top:0px;
    left:25%;
    margin:100px auto;
    width:40%;
    height:60%;
    font-family:Verdana;
    font-size:13px;
    padding:10px;
    background-color: #E1DFD5;
    border:4px solid #B8B6A6;
    z-index:10000000000000000;
}

#popupBuilding{
	font-family: verdana;
	text-align: center;
	padding-top:0px;

}

.popupCancelButton{

	-moz-box-shadow:inset 0px 1px 0px 0px #bad7f5;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bad7f5;
	box-shadow:inset 0px 1px 0px 0px #bad7f5;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #889dde), color-stop(1, #4d56a8) );
	background:-moz-linear-gradient( center top, #889dde 5%, #4d56a8 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#889dde', endColorstr='#4d56a8');
	background-color:#889dde;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #6262ed;
	display:inline-block;
	color:black;
	font-family:Verdana;
	font-size:12px;
	font-style:normal;
	height:26px;
	line-height:26px;
	width: 53px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #528ecc;
	margin: 5px;

}

.popupConfirmButton{

-moz-box-shadow:inset 0px 1px 0px 0px #f58075;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f58075;
	box-shadow:inset 0px 1px 0px 0px #f58075;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f55644), color-stop(1, #f02727) );
	background:-moz-linear-gradient( center top, #f55644 5%, #f02727 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f55644', endColorstr='#f02727');
	background-color:#f55644;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #d83526;
	display:inline-block;
	color:black;
	font-family:Verdana;
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	height:26px;
	line-height:26px;
	width:53px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #b23e35;

/* This button was generated using CSSButtonGenerator.com */
}

#popupCourseInfo{
	font-family: verdana;
	padding-top: 0px;
	margin-top: 10px;
	max-height: 60%;
}

#popupCourseName{
	font-family: verdana;
	font-weight: bold;
	font-size: 14px;
	padding-top: 5px;
	text-align: center;
	display: inline-block;
	width: 100%;
	text-transform: uppercase;
}

#popupCode{
	font-family: verdana;
	font-weight: bold;
	font-size: 14px;
	padding-top: 5px;
	text-align: center;
	display: inline-block;
	width: 100%;
	text-transform: uppercase;
}

#popupExam{
	font-family: verdana;
	padding-top: 0px;
	text-align: center;
}


#popupMeetingTime{
	font-family: verdana;
	padding-top: 0px;
	text-align: center;
}

#popupMessages{
	font-family: verdana;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	padding-top: 0px;
	margin-top: 10px;

}

.popupOverlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.75);
	z-index: 1000000000
}
#popupProf{
	font-family: verdana;
	text-align: center;
	padding-top: 0px;
}
#popupTerm{
	font-family: verdana;
	padding-top: 5px;
}

#Professor {
	width: 30%;
}

.profName {
	font-family:verdana;
	border-right:2px solid black;
	width: 150px;
	display: inline-block;
}

.primaryMeeting{
	font-family:verdana;
	width: 210px;
	display: inline-block;
}

.registeredCourse {
	font-family: verdana;
	text-align:center;
	background-color: #4e89a4;
	border: 2px solid #376073;
}

.registerCourseButton{
	color:black;
	margin:10px;
}

.removeIfConflict{
	-moz-box-shadow:inset 0px 1px 0px 0px #ebe6eb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ebe6eb;
	box-shadow:inset 0px 1px 0px 0px #ebe6eb;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dbd8db), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #dbd8db 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbd8db', endColorstr='#dfdfdf');
	background-color:#dbd8db;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:black;
	font-family:Verdana;
	font-size:10px;
	font-weight:normal;
	font-style:normal;
	height:13px;
	line-height:15px;
	width:57px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;

}

/* This button was generated using CSSButtonGenerator.com */

/* table of search results */
#resultsTable {
	margin-left: 5px;
	font-family: verdana;
	font-size: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	padding: 2px;
	border: 2px solid #FFF;
	border-spacing: 0;
}

/* rows of results table */
#resultsTable th, td, tr {
	padding: 2px;
	color: #391200;
	border: 1px solid #FFF;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#resultsTable th {
	background-color: #b8b6a6;
}

/* odd rows of results table */
#resultsTable tr:nth-child(even) {
	background-color: #CDCAB9;
}

/* even rows of results table */
#resultsTable tr:nth-child(odd) {
	background-color: #EFECE5;
}

/* all rows of results table */
#resultsTable tr:hover {
	cursor: pointer;
	background-color: #E0EEEE;
}

.savedCourse {
	font-family: verdana;
	
	text-align:center;
	background-color: #96CDCD;
	border: 2px solid #5A7B7B;
}

#scheduler {
	position: relative;
	left: 1%;
	top:10px;
	width: 98%;
}

#searchButton{ /* This button was generated using CSSButtonGenerator.com */
	background-color:#765B4E;
	-webkit-border-top-left-radius:12px;
	-moz-border-radius-topleft:12px;
	border-top-left-radius:12px;
	-webkit-border-top-right-radius:12px;
	-moz-border-radius-topright:12px;
	border-top-right-radius:12px;
	-webkit-border-bottom-right-radius:12px;
	-moz-border-radius-bottomright:12px;
	border-bottom-right-radius:12px;
	-webkit-border-bottom-left-radius:12px;
	-moz-border-radius-bottomleft:12px;
	border-bottom-left-radius:12px;
	text-indent:0;
	border: none;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:35px;
	line-height:25px;
	width:45px;
	text-decoration:none;
	text-align:center;
	margin: 0px;
}

#searchButton:hover {
	background-color:#391200;
}

#searchButton:active {
	position:relative;
	top:1px;
}

/* div containing all search box related elements */
#searchBoxContainer {
	position: relative;
	height: 40px;
	width: 100%;
	z-index:50000;
}

/* div containing search button */
#searchButtonContainer {
	position: absolute;
	height: 24px;
	width: 40px;
	left: 66%;
}

.searchContainer {
	
}

/* common styling for include and exclude boxes */
.searchInput {
	position: absolute;
	height: 20px;
	width: 100%;
	left: 0px;
	top: 0px;
	font-size: 15px;
	font-family: Verdana;
	color: #391200;
	border: 0px;
	outline: none;
	margin-left:6px;
	margin-top:5px;
}

.sectionBody {
	display: none;
	font-family: verdana;
	color: #391200;
	background-color: white;
	min-height: 10px;

}

/* containers for main page sections (e.g., 'My Schedule') */
.sectionHeader {
	background-color: #EFECE5;
	border: 1px solid #391200;
	font-family: Verdana;
	color: #391200;
	height: 40px;
	width: 100%;
	font-size: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px; /* for older browsers */
	-moz-border-radius: 5px; /* for older browsers */
}
.sectionHeader:hover {
	cursor: pointer;
}

/* divs containing text for section headers */
.sectionHeaderText {
	position: absolute;
	min-height: 30px;
	margin: 5px 0px 0px 40px;
}

/* Status column of search results */
#Status{
	width: 10%;
}

table.miniSchedule{
	border:1px;
}

.tableHead {
	text-align: center;
	border-left: 1px solid black;
	height: 20px;
}

.tableHead img {
	margin-left: 5px;
}

.term{
	width: 300px;
	height: 20px;
}

textarea {
	resize: none;
}

/* Time column of search results */
#Time{
	width: 10%;
}

/* Title column of search results */
#Title{
	width: 30%;
}

.title{
	font-family: verdana;
	font-size: 32px;
	font-weight:500;
	width: 200px;
	display: inline;
	color: #391200;
	
}

/* styling for triangle buttons that expand page sections */
.triangle {
	position: absolute;
	height: 20px;
	max-width:20px;
	margin: 10px 10px 0px 10px;
}

#true{
	-moz-box-shadow:inset 0px 1px 0px 0px #f58075;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f58075;
	box-shadow:inset 0px 1px 0px 0px #f58075;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f55644), color-stop(1, #f02727) );
	background:-moz-linear-gradient( center top, #f55644 5%, #f02727 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f55644', endColorstr='#f02727');
	background-color:#f55644;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #d83526;
	display:inline-block;
	color:black;
	font-family:Verdana;
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	height:28px;
	line-height:28px;
	width:85px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #b23e35;
	position: absolute;
	right: 1%;
	top: 90%;

/* This button was generated using CSSButtonGenerator.com */
}
